@{
    ViewBag.Title = "Highlights";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>
                    Highlights
                </h1>
            </div>
            <!-- Projects Row -->
            <div class="row well">
                <div class="col-md-4">
                    <a href="#">
                        <img class="img-responsive img-rounded" src="~/Content/images/cover.png" alt="">
                    </a>
                    <h4>
                        <a href="~/Home/ViewHighlights">Highlights 1</a>
                    </h4>
                    <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</small>
                </div>
                <div class="col-md-4">
                    <a href="#">
                        <img class="img-responsive img-rounded" src="~/Content/images/cover.png" alt="">
                    </a>
                    <h4>
                        <a href="~/Home/ViewHighlights">Highlights 2</a>
                    </h4>
                    <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</small>
                </div>
                <div class="col-md-4">
                    <a href="#">
                        <img class="img-responsive img-rounded" src="~/Content/images/cover.png" alt="">
                    </a>
                    <h4>
                        <a href="~/Home/ViewHighlights">Highlights 3</a>
                    </h4>
                    <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</small>
                </div>
            </div>

            <div class="row well">
                <div class="col-md-4">
                    <a href="#">
                        <img class="img-responsive img-rounded" src="~/Content/images/cover.png" alt="">
                    </a>
                    <h4>
                        <a href="~/Home/ViewHighlights">Highlights 1</a>
                    </h4>
                    <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</small>
                </div>
                <div class="col-md-4">
                    <a href="#">
                        <img class="img-responsive img-rounded" src="~/Content/images/cover.png" alt="">
                    </a>
                    <h4>
                        <a href="~/Home/ViewHighlights">Highlights 2</a>
                    </h4>
                    <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</small>
                </div>
                <div class="col-md-4">
                    <a href="#">
                        <img class="img-responsive img-rounded" src="~/Content/images/cover.png" alt="">
                    </a>
                    <h4>
                        <a href="~/Home/ViewHighlights">Highlights 3</a>
                    </h4>
                    <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</small>
                </div>
            </div>
            <div class="row well">
                <div class="col-md-4">
                    <a href="#">
                        <img class="img-responsive img-rounded" src="~/Content/images/cover.png" alt="">
                    </a>
                    <h4>
                        <a href="~/Home/ViewHighlights">Highlights 1</a>
                    </h4>
                    <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</small>
                </div>
                <div class="col-md-4">
                    <a href="#">
                        <img class="img-responsive img-rounded" src="~/Content/images/cover.png" alt="">
                    </a>
                    <h4>
                        <a href="~/Home/ViewHighlights">Highlights 2</a>
                    </h4>
                    <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</small>
                </div>
                <div class="col-md-4">
                    <a href="#">
                        <img class="img-responsive img-rounded" src="~/Content/images/cover.png" alt="">
                    </a>
                    <h4>
                        <a href="~/Home/ViewHighlights">Highlights 3</a>
                    </h4>
                    <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</small>
                </div>
            </div>


        </div>

        





    </div>
</div>