@{
    ViewBag.Title = "Highlights";
}
<div class="container">
    <div class="row">
        <div class="col-md-12 column">
            <img alt="700x400" src="~/Content/images/cover.png"  class="img-rounded" />
            <div class="page-header">
                <h1>
                    FC Barcelona 1-1 Real Madrid C.F
                </h1>
            </div>
        </div>
    </div>
</div>